<!DOCTYPE html>
<html>
	<head>
		<title>Leaflet Quick Start Guide Example</title>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
		<link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />

		<!-- <link rel="stylesheet" href="../dist/leaflet.css" /> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="../dist/leaflet.ie.css" /><![endif]-->
	</head>
	<body>
		
		<div id="map" style="width: 1300px; height: 700px"></div>
		<!-- <div id="map2" style="width: 1500px; height: 400px"></div> -->

		<!-- <script src="../dist/leaflet.js"></script> -->
		<script>
			var mapid = "";

			var map = L.map('map').setView([39.756, -105], 4);

			L.tileLayer('http://{s}.tile.cloudmade.com/1dfc20ee65ee40638ed29eb7b9975515/997/256/{z}/{x}/{y}.png', {
				maxZoom : 18,
				attribution : 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
			}).addTo(map);

			var marker = new Array();

			var popup = L.popup();
			var i = 0;
			var index;
			var latlng;
			function onEachFeature(feature, layer) {
				// does this feature have a property named popupContent?
				if (feature.properties && feature.properties.popupContent) {
					layer.bindPopup(feature.properties.popupContent);
				}
			}

			var myData1 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC1E38",
					"popupContent" : "11EC1E38: Printer cartridge"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.29912, 47.622365], [-122.2989678, 47.62246013], [-122.3342121, 47.58148670000001], [-122.3347914, 47.58088588999999], [-122.3353171, 47.58080006000001], [-122.336846, 47.58121848], [-122.3350811, 47.58089662], [-122.3365349, 47.58105218], [-122.3357087, 47.58102536000001], [-122.335301, 47.58085907], [-122.3353869, 47.58058012], [-122.3344266, 47.58097172], [-122.3356175, 47.58108437], [-122.3350435, 47.58079469], [-122.3345071, 47.58110583], [-122.336669, 47.58138478000001], [-122.3348182, 47.58077323999999], [-122.3354405, 47.58075714], [-122.3256934, 47.56205142], [-122.3265678, 47.56167054000001], [-122.7975208, 47.0574367], [-122.7040404, 45.56387007], [-122.9180485, 45.11432648], [-123.2649332, 43.57788742], [-122.8994018, 42.34748304], [-120.8079439, 36.8967247], [-119.9724627, 35.95219016], [-118.408826, 34.29653227], [-118.4150541, 34.29862976], [-118.2081485, 34.00972366], [-115.7311124, 33.06346714], [-115.5450422, 32.79316485], [-115.5449456, 32.79346526], [-115.5453908, 32.79333651], [-115.5455196, 32.79323995], [-115.5456805, 32.7932775], [-115.5453318, 32.79360473], [-115.4004335, 32.67044842], [-115.4011148, 32.67162859], [-115.4012543, 32.67115653], [-115.4014421, 32.67300725], [-115.5063379, 32.68801153], [-115.5416894, 32.66606033], [-115.4005677, 32.67154813], [-115.4008681, 32.67157495], [-115.4029334, 32.67374218], [-115.5006409, 32.67871499], [-115.4039741, 32.67589867], [-115.5027866, 32.68676162], [-115.5411744, 32.66626954], [-115.5036396, 32.68843532], [-115.4038614, 32.67476141], [-115.4027939, 32.67397285], [-115.4001707, 32.6705879]]
				}
			}];

			var myData2 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC05D8",
					"popupContent" : "11EC05D8: Samsung cell phone (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.3341299, 47.5935032], [-122.3340297, 47.59347081], [-122.2967684, 47.50597715], [-122.2732079, 47.39986896999999], [-122.3000622, 47.46412396], [-122.3024762, 47.4609375], [-122.3024762, 47.4609375], [-97.02468931999999, 32.91316152], [-97.31822491, 32.82554448], [-97.31808006999999, 32.83002377], [-97.31811225, 32.83002913], [-97.31676041999999, 32.83097863], [-97.32013464000001, 32.82934785], [-97.31971621999999, 32.82476127], [-97.32025802, 32.82806039], [-97.32037067, 32.82736301], [-97.32046723000001, 32.82705724], [-97.31680334000001, 32.83093572], [-97.31643856000001, 32.83109665], [-97.31646538, 32.83105373], [-97.30676650999999, 32.81879604], [-97.30683625, 32.81868875], [-97.30652511000001, 32.8187263], [-97.30683625, 32.81887651], [-97.30684698, 32.81875312], [-97.30684161000001, 32.81830251], [-97.30686307000001, 32.81920373], [-97.30635881000001, 32.81857073], [-97.30683088000001, 32.8188014], [-97.30736195999999, 32.8195256], [-97.30229794999998, 32.83175111], [-97.30301677999999, 32.83268452], [-97.30209410000001, 32.83226609], [-97.30220675, 32.83220708], [-97.30231404, 32.83110201], [-97.30271101, 32.82837152], [-97.30136453999999, 32.83213198], [-97.30247498, 32.83056021], [-97.30125189, 32.83237875], [-97.30195463, 32.83231437], [-97.30180978999998, 32.83192277], [-97.30174541, 32.83221245], [-97.30140209000001, 32.83130586], [-97.30145037, 32.83212124999999], [-97.30111778, 32.83226073], [-97.30166495000002, 32.83138633], [-97.30163813000001, 32.83242702], [-97.30163276, 32.83213735], [-97.30160058, 32.83250213], [-97.30255008, 32.83246994], [-97.30241597, 32.8324914], [-97.30258225999999, 32.83194959], [-97.3011446, 32.83244312], [-97.30171323, 32.83218026], [-97.30113924, 32.83214271], [-97.30159521, 32.83243775], [-97.30256616999999, 32.83150971], [-97.30117679000001, 32.83221245], [-97.30132163, 32.83201933], [-97.30140209000001, 32.83110201], [-97.30109632, 32.83245921], [-97.30175077999999, 32.83233583], [-97.30201364, 32.83101082], [-97.30135918000001, 32.83211589], [-97.30094612000001, 32.83064067], [-97.30047940999999, 32.83242702], [-97.30182588, 32.83111811], [-97.30138599999999, 32.83199787], [-97.30224431000001, 32.83311903], [-97.30133772000002, 32.83251286], [-97.30120897000002, 32.83223391], [-97.30127335, 32.83223391], [-97.30190098, 32.83231437], [-97.30220138999999, 32.83210516], [-97.30079055, 32.83230364], [-97.30135918000001, 32.83174574], [-97.30200291, 32.83231974000001], [-97.30142891, 32.83149362], [-97.30138062999998, 32.83245921], [-97.30130552999999, 32.83238411], [-97.30135380999998, 32.83287764], [-97.30126798000001, 32.83260942], [-97.30125189, 32.83251822], [-97.30140209000001, 32.83252358], [-97.30111778, 32.83256113], [-97.30138062999998, 32.83261478], [-97.30122507, 32.83252895], [-97.30118752, 32.83235729], [-97.30133235, 32.83259869], [-97.30157375, 32.83310294], [-97.30140209000001, 32.83254504], [-97.30139672999999, 32.83253431], [-97.30131090000002, 32.83244848], [-97.30117142, 32.83268988], [-97.30130552999999, 32.83260942], [-97.30121434, 32.83268988], [-97.30138062999998, 32.83225], [-97.30138062999998, 32.83262014], [-97.30137527000001, 32.8324753], [-97.30135380999998, 32.83246994], [-97.30119288, 32.83252895], [-97.30128406999999, 32.83287227], [-97.30120897000002, 32.83250749], [-97.30128406999999, 32.83255041], [-97.30137527000001, 32.83248603], [-97.30134308, 32.83274353], [-97.30146646999999, 32.83238947], [-97.30127871000001, 32.83257723], [-97.30133772000002, 32.83257723], [-97.30149329, 32.83188522], [-97.30171858999999, 32.83218563], [-97.30115532999999, 32.83260405], [-97.30131625999999, 32.8327328], [-97.30130552999999, 32.83262551], [-97.30124116, 32.83235729], [-97.30132163, 32.83295274], [-97.30118215000002, 32.83262551], [-97.30117679000001, 32.832883], [-97.30146646999999, 32.83253431], [-97.30132699000001, 32.83237875], [-97.30123043, 32.8328079], [-97.30134308, 32.83274353], [-97.30046332000001, 32.83186376], [-97.30697572, 32.81815767], [-97.30744778999998, 32.81882823], [-97.30709373999998, 32.81828105], [-97.3074156, 32.81840444], [-97.30724931000002, 32.81853855], [-97.30758727, 32.81834006], [-97.30666459, 32.81849027], [-97.30662167, 32.81863511], [-97.30545223, 32.81851172], [-97.30786085, 32.81935394], [-97.30657875999998, 32.81805575]]
				}
			}];

			var myData3 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC02CC",
					"popupContent" : "11EC02CC: Cell phone- Nokia (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.345867, 47.66186600000001], [-122.3457992, 47.66192079], [-122.3455793, 47.66163111000001], [-122.3043215, 47.62582898000001], [-122.3035491, 47.6257056], [-122.3029053, 47.62543738], [-122.3037636, 47.62578606999999], [-122.3044503, 47.62564659], [-122.3040426, 47.6258719], [-122.3045629, 47.62604356000001], [-122.3041981, 47.62566805], [-122.3042732, 47.62575388], [-122.3035115, 47.62569487], [-122.3044664, 47.62601673999999], [-122.3042411, 47.62590408], [-122.3041499, 47.62588263], [-122.304461, 47.62583971], [-122.3046219, 47.62567878], [-122.3040372, 47.6258558], [-122.3049653, 47.62631178], [-122.3039782, 47.62604892], [-122.3039997, 47.62592554], [-122.3043859, 47.62588263], [-122.3045683, 47.62582362], [-122.3038924, 47.62611866], [-122.3042089, 47.62580752], [-122.3039943, 47.62603282999999], [-122.3039353, 47.62636006], [-122.3037744, 47.62610793], [-122.3040587, 47.62609184], [-122.3038226, 47.6263386], [-122.3043162, 47.62612402], [-122.304123, 47.62616694], [-122.3038763, 47.62604892], [-122.3042196, 47.6261133], [-122.3039889, 47.62609184], [-122.3040909, 47.62602746999999], [-122.3195618, 47.62365103], [-122.2260386, 47.34082282], [-122.6966268, 45.53628087], [-122.7048397, 45.57222784], [-122.7053171, 45.5723244], [-122.705639, 45.57139635], [-122.7038312, 45.57051122], [-121.207298, 45.61276673999999], [-107.4737817, 35.03380179], [-100.7357615, 34.87963378], [-97.24615394999999, 32.68931508], [-97.24634707000001, 32.68921852], [-97.24689424, 32.69008219], [-96.89776182, 32.84749031], [-96.89837337, 32.84713089], [-96.88152909, 32.87642062], [-96.88146472, 32.87635624], [-96.88145934999999, 32.87640452], [-96.88147008, 32.8764528], [-96.88142716999998, 32.87652254], [-96.88139498, 32.87634552], [-96.88135207000001, 32.87634552], [-96.88165247000001, 32.8763777], [-96.88163638000002, 32.87632406], [-96.88162029, 32.87627578], [-96.88156664, 32.87631333], [-96.88151836, 32.87618995], [-96.88149691, 32.87634015], [-96.88147545000001, 32.87646353], [-96.88158809999999, 32.8763938], [-96.88163638000002, 32.87629187], [-96.881513, 32.87631333], [-96.88152909, 32.87637234], [-96.88157201, 32.87631869], [-96.88158809999999, 32.8763938], [-96.88159883, 32.8763026], [-96.88182950000001, 32.8763026], [-96.88160956000002, 32.87630796], [-96.88146472, 32.87634015], [-96.88148081000001, 32.87640989], [-96.88147545000001, 32.87638843], [-96.88182413999999, 32.87628114], [-96.88151836, 32.87632406], [-96.88160956000002, 32.87640989], [-96.88152373, 32.87627041], [-96.88160956000002, 32.87629187], [-96.88158809999999, 32.87639916], [-96.88171684999999, 32.87629724], [-96.88159347, 32.87639916], [-96.88136815999999, 32.87652791], [-96.88160956000002, 32.87632406], [-96.88163102000001, 32.87648499], [-96.88165784, 32.87631333]]

				}
			}];

			var myData4 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC00B6",
					"popupContent" : "11EC00B6: Cellphone (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.311059, 47.621846], [-122.3109519, 47.62181103], [-122.3329782, 47.58441031], [-122.333048, 47.58456051], [-122.3329461, 47.58444786], [-122.3330212, 47.58448541], [-122.3329031, 47.58440495000001], [-122.3329997, 47.58451223], [-122.332828, 47.584185], [-122.3330158, 47.58439421999999], [-122.3329729, 47.58449614], [-122.3329353, 47.58435667], [-122.3328924, 47.58432984], [-122.3328441, 47.58427619999999], [-122.3337668, 47.58600354], [-122.3328012, 47.58427084], [-122.332871, 47.5843513], [-122.3329353, 47.58417964], [-122.33293, 47.58427619999999], [-122.3329085, 47.58437811999999], [-122.3331124, 47.5847429], [-122.332812, 47.58440495000001], [-122.3325598, 47.58446932], [-122.3329085, 47.58446395], [-122.3327422, 47.58421719], [-122.3328602, 47.58445323], [-122.3329836, 47.58430839], [-122.3329729, 47.58448005], [-122.3327798, 47.58446395], [-122.3328763, 47.58436203], [-122.3328066, 47.58410454], [-122.3328495, 47.58442104000001], [-122.3329514, 47.58437811999999], [-122.3329085, 47.58434057], [-122.3328763, 47.58444786], [-122.332828, 47.58467317], [-122.3329568, 47.58443177], [-122.3330158, 47.58434057], [-122.3329407, 47.58446395], [-122.33271, 47.58432984], [-122.3328549, 47.5844264], [-122.332769, 47.58435667], [-122.3329031, 47.58442104000001], [-122.3328817, 47.58425474], [-122.3329139, 47.58453906], [-122.3327369, 47.58435667], [-122.3328173, 47.58427084], [-122.3327905, 47.58440495000001], [-122.3337293, 47.58531153], [-122.3328388, 47.58439958], [-122.3329246, 47.58429229000001], [-122.3330373, 47.58431375], [-122.3329943, 47.58450151], [-122.3328656, 47.58428155999999], [-122.3328066, 47.58437276], [-122.2238392, 47.34119833], [-122.2273153, 47.34073699], [-122.7016693, 45.56950808000001], [-94.86322045, 38.98343503], [-86.92814112000001, 36.33789182], [-86.79654658, 36.23779714], [-86.7971313, 36.23702467], [-86.57557011, 35.9794414], [-81.42734349, 28.46084476], [-82.19056605999999, 29.17568028], [-82.1887368, 29.17513847], [-82.08538591999999, 29.19507801], [-82.08501577, 29.19482052], [-82.08537518999999, 29.19493854], [-82.08532691000001, 29.19474542], [-82.08539665000001, 29.19434845], [-82.08490312000001, 29.19481516], [-82.08526790000001, 29.19468105], [-82.08525717000001, 29.19471860000001], [-82.08542346999999, 29.19470787], [-82.08537518999999, 29.19542134], [-82.08567023000001, 29.19443965], [-82.08504259999999, 29.1946435], [-82.08554149, 29.19496536], [-82.08564341, 29.19512093], [-82.08510697, 29.19479907], [-82.08577751999999, 29.19498146], [-82.08556831, 29.19479907], [-82.08513916, 29.19472396], [-82.08536983, 29.19524968], [-82.08506942, 29.19463813], [-82.08526790000001, 29.19465423], [-82.08526254, 29.19484198]]

				}
			}];

			var myData5 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC1EA6",
					"popupContent" : "11EC1EA6: cell phone (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.330694, 47.651492], [-122.3309237, 47.65158891999999], [-122.323789, 47.65732884], [-122.3290032, 47.64883697], [-122.3319858, 47.62769043000001], [-122.3287886, 47.65051603], [-122.3295236, 47.65075207], [-122.32903, 47.6488477], [-122.3292232, 47.64995812999999], [-122.3290461, 47.64892817], [-122.2264516, 47.34143435999999], [-87.14021266, 36.0525316], [-81.48727477, 28.21114719], [-80.33935905, 25.99250972], [-80.33803403, 25.9892267], [-80.33868849, 25.99201619999999], [-81.00225627, 27.43902504], [-80.34218073, 25.98879755]]
				}
			}];

			var myData6 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC0460",
					"popupContent" : "11EC0460: HP Officejet ink cartridge (black) (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.286917, 47.5762209], [-122.334727, 47.60766506], [-122.2871232, 47.57619739], [-122.2885126, 47.57826805], [-122.3226786, 47.58639514000001], [-122.3228449, 47.58663654000001], [-122.3228288, 47.58635223], [-122.322582, 47.58589089], [-122.3229361, 47.58655608], [-122.3227483, 47.58671164999999], [-122.3226839, 47.58668482], [-122.3229843, 47.586658], [-122.2353137, 47.43788659999999], [-122.234627, 47.43860543], [-122.2344393, 47.43833721], [-122.2343963, 47.43872881000001], [-122.2346753, 47.43890584], [-122.2344714, 47.43857323999999], [-122.23445, 47.43865907], [-122.2344661, 47.43900239], [-122.2345519, 47.43871807999999], [-122.2343695, 47.43889511], [-122.23364, 47.43933499], [-122.2324866, 47.43846595], [-122.2334737, 47.43958712], [-122.2763032, 47.49773204], [-122.2803587, 47.50360608], [-122.4033111, 47.69174695], [-119.6784389, 47.25684822], [-94.1948086, 45.62503517], [-91.82386458000001, 44.20185506], [-91.21639788, 43.77631187], [-87.75132716, 41.84287369], [-87.75771081000001, 41.84195638], [-87.75126815, 41.8417418], [-88.10164511000001, 41.91079259], [-88.10253561, 41.91118956], [-88.10242832, 41.91123247], [-88.10235322, 41.91106081], [-117.3054725, 34.1086489], [-117.3057085, 34.10874009], [-117.3057193, 34.10955548], [-117.3064059, 34.1092658], [-117.3026401, 34.11067665], [-117.3059392, 34.10898685], [-116.1161327, 33.07589650000001], [-115.4854113, 32.67888129], [-115.401957, 32.67274439], [-115.4028851, 32.67435908], [-115.4004765, 32.67117262], [-115.4002243, 32.67080247], [-115.4032606, 32.67411768], [-115.4795533, 32.67912805], [-115.5381864, 32.66533077], [-115.397585, 32.66912341], [-115.3978747, 32.66782522], [-115.4021609, 32.67439663], [-115.5201191, 32.67339349], [-115.400911, 32.67071128], [-115.4002941, 32.67050743], [-115.5208433, 32.67261565], [-115.5410457, 32.6629436], [-115.4068923, 32.67694473], [-115.4003048, 32.6704216], [-115.5272108, 32.67021239], [-115.5171043, 32.67450929], [-115.4002351, 32.67004609], [-115.5221683, 32.67224014], [-115.5015475, 32.6872927], [-115.400911, 32.67247081], [-115.4000688, 32.67058253], [-115.3992534, 32.66890347], [-115.400852, 32.67126381], [-115.5038917, 32.69240499], [-115.4034483, 32.6746273], [-115.4012543, 32.67241716], [-115.3991354, 32.6691395], [-115.4872298, 32.67934263], [-115.5383796, 32.6676482], [-115.4010987, 32.67078102], [-115.4996055, 32.67886519], [-115.3996718, 32.67135501], [-115.401147, 32.67212212], [-115.4023218, 32.67248154], [-115.5002546, 32.67875791], [-115.4021877, 32.67317355], [-115.3989744, 32.67014802], [-115.3990281, 32.67056108], [-115.4892468, 32.67941773], [-115.4003853, 32.67019629], [-115.5135047, 32.67524958], [-115.5131936, 32.68465877], [-115.5006838, 32.67835021], [-115.5412549, 32.66622126], [-115.4985809, 32.67872572], [-115.3997093, 32.6709044], [-115.4011792, 32.67213285], [-115.4987258, 32.67891884], [-115.401147, 32.67158568], [-115.4011685, 32.67273903], [-115.4996699, 32.67843604], [-115.5171257, 32.67359734]]
				}
			}];

			var myData7 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC0877",
					"popupContent" : "11EC0877: Batteries (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.2431886, 47.58737683], [-122.2661215, 47.46496618], [-122.2431886, 47.58737683], [-122.140047, 47.61878014], [-122.2332484, 47.58244157], [-122.2843981, 47.42273211000001], [-122.3252964, 47.29579926], [-122.3252696, 47.29572415], [-115.1114255, 47.30051458], [-112.6138866, 46.00589275000001], [-107.4211675, 45.52961826000001], [-103.9561075, 44.53963637], [-97.99350321, 43.69216561], [-96.14612639000001, 42.042768], [-94.94959294999998, 41.48596287], [-93.7704134, 41.63492739], [-93.77155066, 41.63462162], [-93.77217293, 41.63508296], [-93.25491428000001, 44.19489205], [-93.14985751999997, 44.84221637], [-93.15071582999998, 44.84165311], [-93.15263092999999, 44.8419857], [-93.18454384999998, 45.01373291], [-93.18543971, 45.01444638], [-93.18471551, 45.02828658000001], [-93.18462968, 45.02793789], [-93.18454384999998, 45.02820075000001], [-93.18483888999999, 45.02847969], [-93.18433464, 45.02843142], [-93.18445802000001, 45.02824903], [-93.18461895000002, 45.02812564], [-93.18477987999999, 45.02830803], [-93.1850481, 45.02820611], [-93.18487107999999, 45.02806127000001], [-93.18481207000001, 45.02779305], [-93.18471015, 45.02807736], [-93.18457602999999, 45.0279218], [-93.18494082000001, 45.02761602000001], [-93.18449557, 45.02797544], [-93.18507493000001, 45.02826512], [-93.18477987999999, 45.02829194], [-93.18490326, 45.02820611], [-93.18506956, 45.02824903], [-93.18480134000001, 45.02820611], [-93.18518757999999, 45.02813637], [-93.18508565000002, 45.02822757], [-93.18469941999999, 45.0285387], [-93.18488717, 45.02785206], [-93.18520904000002, 45.02825439], [-93.18477452, 45.02841532000001], [-93.18518220999999, 45.0276804], [-93.18506956, 45.02817929], [-93.18502128, 45.02825439], [-93.18504274, 45.0279808], [-93.18432927000001, 45.02833486], [-93.18509638, 45.02844751], [-93.18549871, 45.02874791999999], [-92.85161196999999, 44.94702637000001], [-92.85157441999999, 44.94706392], [-92.85154223000001, 44.94699419], [-92.85159587999999, 44.94707465], [-92.85171926, 44.94695663], [-92.85168171000001, 44.94708002], [-92.85165489000001, 44.94709611], [-92.85151541000002, 44.94719803], [-92.85152614, 44.94712293], [-92.85176753999998, 44.94718731], [-92.85160661, 44.94702637000001], [-92.85154223000001, 44.9470371], [-92.85162269999999, 44.94708002], [-92.85145104, 44.94716048], [-92.85166562000001, 44.94694054], [-92.85197675000002, 44.94726777], [-92.85189092, 44.94724631], [-92.85200894, 44.94724095], [-92.85187483, 44.94724095], [-91.55045092, 41.38310552], [-91.17786527000001, 39.33158577], [-90.99235296000001, 39.18977737], [-89.53537703000001, 38.43592644], [-87.250489, 36.55649722], [-84.90886688000001, 34.37971294], [-84.80044126999999, 34.17824686], [-84.79938447999999, 34.17827904], [-84.80077922, 34.17821467], [-84.79997993000001, 34.17898178], [-84.80173945, 34.1784668], [-84.79891241, 34.18166399], [-84.80106354, 34.17834878], [-84.79898214000001, 34.18152988], [-84.80033933999999, 34.17831123], [-84.80042517, 34.17787135], [-84.80038762, 34.17801619], [-84.80048418, 34.1782093], [-84.79938984, 34.17996347], [-84.79945420999999, 34.18000102], [-84.79951321999999, 34.17912662], [-84.79934156, 34.18011904], [-84.79942203, 34.17874575], [-84.8011601, 34.17923391], [-84.80013549, 34.17813957], [-84.79941666000001, 34.17875111], [-84.79991554999999, 34.1790247], [-84.80055392, 34.17874038], [-84.79920745, 34.17905152], [-84.79513585999999, 34.17636931], [-84.79910015999999, 34.17865455], [-84.80008185, 34.17800546], [-84.79992092000001, 34.17933583], [-84.79890704, 34.18209314], [-84.80111182, 34.17933583], [-84.80054319, 34.1787672], [-84.79934156, 34.17923391], [-84.79922891, 34.17883158], [-84.79955077, 34.17980254], [-84.7995615, 34.18027461], [-84.79991019000001, 34.17855799], [-84.80022669, 34.17923927], [-84.79921281, 34.18084323], [-84.80107963, 34.1780752], [-84.79957759, 34.1794163], [-84.78891313, 34.18167472], [-84.80012476, 34.1795665], [-84.79928255, 34.1794914], [-84.79994773999999, 34.17930365], [-84.80086505, 34.17802155], [-84.8006773, 34.17967916]]
				}
			}];

			var myData8 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC0317",
					"popupContent" : "11EC0317: D-cell battery (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.383078, 47.537308], [-122.3832268, 47.53746092], [-122.3833555, 47.53738046], [-122.3637593, 47.5367099], [-122.3646176, 47.53716051999999], [-122.3629975, 47.53672063], [-122.3646712, 47.53688157], [-122.3635983, 47.53672063], [-122.3649019, 47.53756821], [-122.362783, 47.53673136], [-122.3622036, 47.53696203], [-122.3644513, 47.53678501], [-122.3648, 47.53712296], [-122.3633248, 47.53661871], [-122.3633301, 47.53672063], [-122.3638183, 47.53767014], [-122.3650682, 47.53704785999999], [-122.3640168, 47.53754675], [-122.3625201, 47.5372088], [-122.3628527, 47.53654361], [-122.363019, 47.53805101], [-122.3628956, 47.53664553], [-122.3656046, 47.53690839], [-122.3626381, 47.53666163], [-122.363711, 47.53677964], [-122.3632872, 47.53677964], [-122.3629063, 47.53622711000001], [-122.3639363, 47.53694594000001], [-122.3782218, 47.53865719], [-122.2757936, 47.49899268], [-122.4051887, 47.67796576000001], [-120.3115529, 47.42806435], [-117.3320746, 47.6704663], [-105.5392545, 48.10700655], [-89.78502631000001, 41.96501613], [-87.79279411, 41.83349669], [-87.76729167000001, 41.84207976], [-87.76731312, 41.84203148], [-87.88017511, 41.74610496], [-80.27606428, 40.85699022], [-80.27707814999999, 40.85614264], [-80.27637541, 40.85723162]]
				}
			}];

			var myData9 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC03A5",
					"popupContent" : "11EC03A5: Motorola cell phone (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.2850048, 47.6205519], [-122.2592551, 47.4585557], [-122.2563154, 47.46037424], [-122.2237533, 47.34076381], [-122.2244883, 47.34069943], [-122.2325134, 47.33733058], [-122.7105689, 45.56108594], [-122.68902, 45.54829717], [-119.0619761, 46.39102577999999], [-115.4211026, 47.39273965], [-114.117018, 46.93616867], [-111.2495434, 45.81666826999999], [-111.2178183, 46.95300221], [-93.34617913, 45.07572949], [-89.37298536, 43.24103415], [-89.00368272999999, 40.65106094], [-85.58119476, 39.83072877], [-83.08748066, 39.83816922], [-83.08859646000001, 39.83838379], [-80.88369727, 41.1043489], [-80.84818482, 41.11961067], [-80.77886581, 39.78265822], [-80.77886581, 39.78265822], [-80.77886581, 39.78265822], [-80.81701756, 41.11186445], [-80.27665973000001, 40.8564055], [-80.27664363, 40.85646451], [-80.27676165, 40.85668445], [-80.27730346, 40.85708141], [-80.27729273, 40.8565557], [-80.27660607999999, 40.85656643], [-80.27474999, 40.85665226], [-80.27819395, 40.85485518], [-80.28135896000001, 40.85625529], [-80.27975499999999, 40.85667908], [-80.27797937, 40.8579129], [-80.27789891, 40.85697949], [-80.27869821, 40.85683465], [-80.27908981, 40.85691512], [-80.27792573000001, 40.85697949], [-80.27845680999999, 40.85730671999999], [-80.27802765, 40.85709751], [-80.27855337, 40.85685074], [-80.2806294, 40.8554399], [-80.28366029, 40.85595489], [-80.28003395, 40.85637867], [-80.27671337, 40.85705459], [-80.27636468, 40.85725307], [-80.27540981999999, 40.8565557], [-80.27535081000001, 40.8575803], [-80.2725184, 40.85602999], [-80.27299583, 40.85646451], [-80.28120339, 40.85782707], [-80.27274370000001, 40.85645378], [-80.27235745999999, 40.85564911], [-80.27237891999999, 40.85598171], [-80.27342498, 40.85667908], [-80.27631104, 40.85833669], [-80.27434766, 40.85708678], [-80.27296901, 40.85608363], [-80.27356982000001, 40.85623384], [-80.27336061, 40.85629284], [-80.27387023, 40.85710824], [-80.2725023, 40.85529506], [-80.26891351, 40.85744619]]
				}
			}];

			var myData10 = [{
				"type" : "Feature",
				"properties" : {
					"name" : "11EC1DE7",
					"popupContent" : "11EC1DE7: printer cartrige (facility:recycling)"
				},
				"geometry" : {
					"type" : "LineString",
					"coordinates" : [[-122.330694, 47.651492], [-122.3236442, 47.65709817], [-122.3305589, 47.65153527], [-122.3239446, 47.65772581], [-122.324186, 47.65783846], [-122.3238963, 47.65747905], [-122.3238641, 47.65750587], [-122.3239231, 47.65769362], [-122.3239177, 47.65748441], [-122.3239177, 47.65753269], [-122.3238426, 47.65743613000001], [-122.3239714, 47.65737176], [-122.3237246, 47.65750051], [-122.3239553, 47.65769362], [-122.3242396, 47.65782237000001], [-122.3239231, 47.65767753], [-122.3241431, 47.65778482], [-122.323848, 47.65755415000001], [-122.3239177, 47.65755415000001], [-122.3238856, 47.65756488000001], [-122.3239124, 47.65766144000001], [-122.3239177, 47.65748441], [-122.3237354, 47.65772581], [-122.3239338, 47.6575166], [-122.3238856, 47.65751123], [-122.3238802, 47.65754879000001], [-122.3240089, 47.65755951], [-122.3239821, 47.65753805999999], [-122.3241591, 47.6577419], [-122.3239821, 47.65777409], [-122.3237729, 47.65752195999999], [-122.3237461, 47.66189396], [-122.3232579, 47.66180813], [-122.3253608, 47.56351589999999], [-122.0976466, 47.67328261999999], [-102.5319135, 48.27684402], [-88.97700012, 42.03228593], [-87.76963055, 41.83751464], [-87.75245368, 41.84371591], [-87.6210469, 41.77759945], [-80.36414802, 40.82477689], [-76.55438662, 39.29545641], [-76.89340711, 39.09613609], [-76.89283311, 39.09345925], [-77.41195320999999, 38.46712589], [-76.53430760000001, 37.36704469], [-76.53428614000001, 37.3669374], [-75.64880312, 39.68618453]]
				}
			}];

			var myData = [myData1, myData2, myData3, myData4, myData5, myData6, myData7, myData8, myData9, myData10];

			$.ajax({
				type : 'GET',
				url : document.URL + '/getmapid',
				success : function(data) {
					//	console.log(data);
					mapid = data;

					L.geoJson(myData[parseInt(mapid) - 1], {
						onEachFeature : onEachFeature
					}).addTo(map);

					$.ajax({
					type : 'GET',
					url : document.URL + '/getuserid',
					success : function(data) {
					var userid=data;
					

					$.getJSON('../../fetch?mapid=' + mapid+ '&userid='+ userid, function(data) {
						console.log('../../fetch?mapid=' + mapid+ '&userid='+ userid)
					$.each(data, function(index, value) {
						

					latlng = index.split(" ");
					add_pop(parseFloat(latlng[0]), parseFloat(latlng[1]), value);

					});
					});
				

				}
					});
					}
			});

			function add_pop(lat, lng, comment) {
				var domelem = document.createElement('div');
				domelem.contenteditable = "true";

				var domelem2 = document.createElement('textarea');
				
				domelem2.contenteditable = "true";
				domelem2.rows ="4";
				domelem2.innerHTML = comment;
				domelem2.id = lat + " " + lng;
				
				

				

				var domelem3 = document.createElement('button');
				var t = document.createTextNode("save");
				domelem3.appendChild(t);
				domelem3.id = "t" + lat + lng;
				domelem3.onclick = function() {

					$.ajax({
						type : 'GET',
						url : document.URL + '/getmapid',
						success : function(data) {
							//	console.log(data);
							mapid = data;

							$.ajax({
							type : 'GET',
							url : document.URL + '/getuserid',
							success : function(data) {
							var userid=data;

							$.ajax({
							type : 'GET',
							url : '../../updatecontent?name=' + lat + " " + lng + '&content=' + document.getElementById(lat + " " + lng).value + '&mapid=' + mapid + '&userid=' + userid,
							//data : data,
							success : function(data) {
							console.log("lala");
							}
							});
							
						}
						});
					
					}
					});

				};
				
				domelem.appendChild(domelem2);
				domelem.appendChild(domelem3);
				domelem2.focus();
				

				var mapop = new L.LatLng(lat, lng), poppy = new L.Marker(mapop, {

				});
				marker.push(poppy);

				poppy.addTo(map).bindPopup(domelem).openPopup();
				document.getElementById(lat + " " + lng).contentEditable = "true";
				poppy._icon.title = i;
				i++;
			}

			function onMapClick(e) {

				var lat = e.latlng.lat.toString();
				var lng = e.latlng.lng.toString();
				var name = lat + " " + lng;

				$.ajax({
					type : 'GET',
					url : document.URL + '/getmapid',
					success : function(data) {
						//	console.log(data);
						mapid = data;

						$.ajax({
						type : 'GET',
						url : document.URL + '/getuserid',
						success : function(data) {
						var userid=data

						$.ajax({
						type : 'GET',
						url : '../../newtext?name=' + name + '&mapid=' + mapid + '&userid=' + userid,
						success : function(data) {

						}
						});
						}
						});

					}
				});

				add_pop(parseFloat(lat), parseFloat(lng), "Enter text");

			}


			$(document).ready(function() {

				$('#map').mousedown(function(e) {
					index = e.target.title;
					var text = $('#pop').val();

					console.log(e.target.title);
					console.log(text);
				});
				$('#baba').onclick(function(e) {
					console.log("fafa");
				});

			});

			map.on('click', onMapClick);

		</script>
	</body>
</html>
